body {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
    width: 100%;
    margin: 0;
}

.mainBox {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0%;
    border: solid blue;
}

 /* photos */
 .blockPhoto {
    display: inline-block;
    width: auto;
    border:  solid red;
}

.imageChild {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.mentionPhoto {
    display: block;
    background-color: black;
    width: 100%;
    margin-top: -1em;
    margin-bottom: 0px;
    font-size: 10px;
    padding-left: 1em;
}

.mentionMessage {
    color: blanchedalmond;
    margin-bottom: 0px;
}

/* section text */
.mentalyCareChild {
    display: inline-flex;
    flex-direction: column;
    padding-left: 2em;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
    width: 90%;
    border: solid violet;
}

.signalAlarm {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    padding: 1em;
    margin: 1em;
    border: solid;
}

.temoignageEnf {
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    width: 80%;
    padding: 1em;
    border: solid;
}

.rdvEnf {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    width: 90%;
    border-top: double;
    padding: 1em;
    margin-bottom: 1em;
    border: solid black;
}

/* Format écran */
@media (max-width: 996px) {
    .mainBox {
        display: inline-block;
    }
    
     /* photos */
    .imageChild {
        display: block;
        width: auto;
    }

    .mentionMessage {
        text-align: center;
    }
    
    /* section text */
    .mentalyCareChild {
        width: 100%;
    }

    .signalAlarm {
        display: inline-flex;
        flex-direction: column;
        width: 100%;
    }   

    .temoignageEnf {
        width: 100%;
    }

    .rdvEnf {
        width: 100%;
    }