footer{
    background-color:  #09080D;
    width: 100%;
    height: 450px;
    display: flex;
    padding-top: 60px;
    padding-bottom: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.titleFooter{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    width: 100%;
    height: 100px;
    text-transform: uppercase;
    font-weight: bold;
    
}
.advertisement{
    color: white;
    text-align: center;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.informationsFooter{
    font-size: 15px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    padding-top: 70px;
    justify-content: center;
    text-transform: uppercase;
}

p.wildCodeSchool{
    display: flex;
    align-items: flex-end;
    font-size: 10px;
    height: 30px;
    
}
hr.principal{
    width: 90%;
    margin-top: 10px;
}
p.footer{
    margin: 20px;
    text-align: start;
    height: 10px;
}

p.footer1 span{
    display: block;
    margin-top: 5px;
    padding-left: 5px;
}
p.footer1{
    display: flex;
    justify-content: center;
}

.informationsFooter p a{
    font-size: 14px;
  padding: 7px 15px;
  border-radius: 5px;
}

.wcsCopyright{
    color: white;
    width: 100%;
    height: 200px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
a.footerLink{
    color: white;
}

.footerLink:hover{
  background: #2C3E50;
  opacity: 0.8;
  transition: .5s;
}



