body{
    font-family: 'Raleway', sans-serif;
}

.mainBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 100%;
}

 /* photos */

.imageAdult {
    background-image: url('https://cdn.pixabay.com/photo/2014/07/11/15/09/unhappy-389944_960_720.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 910px;
    display: grid;
}

.imageAdult2 {
    background-image: url('https://cdn.pixabay.com/photo/2017/10/10/16/33/shaman-2837843_960_720.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: right;
    align-items: flex-end;
    width: 100%;
    height: 500px;
}

.mentionMessage {
    color: blanchedalmond;
    font-size: 10px;
    align-self: end;
    justify-self: end;
}

.mentionPhotoAdulte{
    color: blanchedalmond;
    margin-bottom: 0px;
    font-size: 10px;
}

/* section text */

.titleTrouble {
    font-size: 5em;
    line-height: 2em;
    color: white;
    width: 100%;
    padding: 100px 50px 0 0;
    text-align: right;
}  

.liste{
    padding: 0.3em;
    list-style: circle;
    height: 100%;
    list-style-position: inside;
}

.rdv {
    font-size: large;
}

.blocContainerMentalyCareAdult {
    display: grid;
    border-style: 2px solid black;
    text-align: center;
    grid-gap: 5px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: minmax(50px, auto);
    margin: 1px;
}

.bloc {
    padding: 1em;
    line-height: 1.2em;
    font-size: large;
}

.element-0 {
    height: 150px;
    grid-column-start: 1;
    grid-column-end: 3;
}

.element-1 {
    display: flex;
    flex-direction: column;
    grid-column-start: 1;
    grid-column-end: 2;
    text-align: justify;
    padding: 0 3em 2em 2em;
}

.element-2 {
    width: 100%;
    height: 100%;
    grid-column-start: 2;
    grid-column-end: 3;
    padding: 0;
}

.video {
    height: 90%;
    width: 100%;
}

.videoText {
    text-align: center;
    width: 100%;
    margin-top: 2%;
    
}

/* .imgElement2{
    
} */
.element-2 iframe {
    width: 100%;
}

.element-2 p {
    padding-top: 1em;
    width: 100%;
}

.element-3 {
    text-align: justify;
    grid-column-start: 1;
    grid-column-end: 3;
    margin-top: 2em;
    line-height: 2em;
    margin-left: 25%;
    margin-right: 25%;
}

.element-4 {
    grid-column-start: 1;
    grid-column-end: 3;
    background-position: 0 20%;
    padding: 0;
}

.element-5 {
    grid-column-start: 1;
    grid-column-end: 2;
    background-image: url('img/img-psychologue-2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    opacity: 0.9;
    transition: transform .5s ease-in-out, opacity 0.5s ease-in-out;
}

.element-6 {
    grid-column-start: 2;
    grid-column-end: 3;
    background-image: url('img/img-psychiatre.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    opacity: 0.9;
    transition: transform .5s ease-in-out, opacity 0.5s ease-in-out;
}

.element-5:hover, .element-6:hover {
    opacity: 1;
    transform: scale(1.01);
}

.rdv {
    font-size: xxx-large;
    line-height: 2em;
    color: black;
}

.rdv a:visited {
    color: black;
}


/* Format écran */
@media (max-width: 640px) {
    .mainBox {
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    /* section text */
    .mentalyCareAdult {
        background-color: lightgray;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .blocContainerMentalyCareAdult {
        display: grid;
        border-style: 2px solid black;
        text-align: center;
        grid-gap: 5px;
        grid-template-columns: 100%;
        grid-template-rows: minmax(50px, auto);
    }

    .titleTrouble {
        font-size: 3em;
        margin-top: 1em;
        padding: 8%;
    } 

    .element-0 {
        grid-column-start: 1;
        grid-column-end: 2;
        height: 0;
        padding: 0;
    }
    
    .element-1 {
        padding: 1em;
        padding-top: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        grid-column-start: 1;
        grid-column-end: 2;
    }
    
    .element-2 {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        align-items: center;
        grid-column-start: 1;
        grid-column-end: 2;
    }
    
    .element-2 iframe {
        width: 100%;
        height: 100%;
    }
    
    .element-2 p {
        padding-top: 1em;
        padding-bottom: 1em;
        width: 100%;
    }
    
    .element-3 {
        grid-column-start: 1;
        grid-column-end: 2;
        margin: 0;
    }
    
    .element-4 {
        grid-column-start: 1;
        grid-column-end: 2;
        padding: 0;
    }

    .element-5 {
        grid-column-start: 1;
        grid-column-end: 2;
        background-image: url('img/img-psychologue-2.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
        height: 500px;
        display: flex;
        align-items: center;
    }
    
    .element-6 {
        grid-column-start: 1;
        grid-column-end: 2;
        background-image: url('img/img-psychiatre.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
        height: 500px;
        display: flex;
        align-items: center;
    }

    .imageAdult2 {
        background-image: url('img/img-adult-2.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        display: flex;
        justify-content: right;
        align-items: flex-end;
        width: 100%;
        height: 500px;
    }
    .imageAdult {
        width: 100%;
        height: 500px;        
    }
    
    }